autom4te.cache
aclocal.m4
Makefile
Makefile.in
configure
config.status
libtool
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/tap-driver.sh
build-aux/test-driver
*.trs
*.log
.*.un~
.*.swp
